<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127220032483-ue16qqqefop9sgd5gm1ujmqj8l877eki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127220032483-ue16qqqefop9sgd5gm1ujmqj8l877eki</string>
	<key>API_KEY</key>
	<string>AIzaSyBI1hngx9hQuSwIDM3Q7FwxLRY-oTOItAU</string>
	<key>GCM_SENDER_ID</key>
	<string>127220032483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livewirz.app</string>
	<key>PROJECT_ID</key>
	<string>livewirz-6e9f2</string>
	<key>STORAGE_BUCKET</key>
	<string>livewirz-6e9f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127220032483:ios:a4ea55b88b435bda0eb6d6</string>
</dict>
</plist>