<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.LiVEwirzApp</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>LiVEwirz</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LiVEwirz</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb261089548811556</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1025698973847-tmdkfim4gfoh2s2phbtc8ka0bkf4rseg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>livewirz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>261089548811556</string>
	<key>FacebookDisplayName</key>
	<string>LiVEWirz</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>fb</string>
		<string>twitter</string>
		<string>fbauth2</string>
		<string>com.paypal.ppclient.touch.v1</string>
		<string>com.paypal.ppclient.touch.v2</string>
		<string>org-appextension-feature-password-management</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>application need to media library for add create profile.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to capture your pics.</string>
	<key>NSContactsUsageDescription</key>
	<string>This lets you connect to everyone here - fans, friends, and artists!</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>LiVEwirz needs to access your location so we can give you event content, directions, and updates. Other fans won’t see your location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>LiVEwirz needs to access your location so we can give you event content, directions, and updates. Other fans won’t see your location.</string>
	<key>NSLocationUsageDescription</key>
	<string>LiVEwirz needs to access your location so we can give you event content, directions, and updates. Other fans won’t see your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>LiVEwirz needs to access your location so we can give you event content, directions, and updates. Other fans won’t see your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is needed to capture audio.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>application using for set item image</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFUIText-Semibold.ttf</string>
		<string>SFUIText-Regular.ttf</string>
		<string>SFUIText-Medium.ttf</string>
		<string>SFUIText-Light.ttf</string>
		<string>SFUIText-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
